<form [formGroup]="customerDetails">
  <div>
    <mat-form-field appearance="legacy" class="col">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy" class="col">
      <mat-label>EmailId</mat-label>
      <input type="email" matInput placeholder="EmailId" formControlName="emailId">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy" class="col">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="phoneNumber" formControlName="phoneNumber">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="legacy" class="col">
      <mat-label>PAN</mat-label>
      <input matInput placeholder="PAN" formControlName="PAN">
    </mat-form-field>
  </div>
  <div formGroupName="addressInfo">
    <div class="h5 pl-3">Address details</div>
    <div>
      <mat-form-field appearance="legacy" class="col">
        <mat-label>Address</mat-label>
        <input matInput placeholder="address" formControlName="address">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy" class="col">
        <mat-label>City</mat-label>
        <input matInput placeholder="city" formControlName="city">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy" class="col">
        <mat-label>Pincode</mat-label>
        <input matInput placeholder="pincode" formControlName="pincode">
      </mat-form-field>
    </div>
  </div>
</form>
<app-bill [totalPrice]="finalPrice" [isPaymentComponent]="true" [showHide]="false"></app-bill>

<button class="btn btn-primary btn-block mt-3" (click)="naviatePayment()" [disabled]="customerDetails.invalid">
  Submit & Goto Payment Info</button>
